[user]
        name = gaoqilin
        email = 334136724@qq.com
[color]
        ui = true
        diff = auto
        status = auto
        branch = auto
        interactive = auto
[alias]
        co = checkout
        st = status
        rb = rebase
        ci = commit
        br = branch
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[core]
        excludesfile = /home/gaoqilin/.gitignore_global
